<div style="height:100%;width:100%" fxLayout="column" fxLayoutAlign="center center">
    <mat-card routerLink="./book">
        <!-- <span> -->
            <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">menu_book</mat-icon>
            <!-- <br/> -->
            <div>Publish</div>
        <!-- </span> -->
    </mat-card>
    <mat-card routerLink="./books">
            <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">library_books</mat-icon>
            <div>My Books</div>
    </mat-card>
</div>
