<div id="profile">
    <span id="profile_pic">
        <img src="https://i.imgur.com/PrvsefK.png">
    </span>
    <img id="banner" src="http://static.tumblr.com/38444edb7d0423bc76cf692323949a24/brpll4t/Sjmn1ptcc/tumblr_static_new-tumblr-header.jpg">
    
    
    <div id="name">{{profile_data.first_name}} {{profile_data.last_name}}</div>
    <div id="profile_content">
      <div id="nav_bar">
       
      </div>
      <div id="feed_container">
        <activity-feed (feed_query)="'user=' + profile_data._id"></activity-feed> <!-- TODO: FIX THIS!!-->
      </div>
    </div>
</div>
  