/* .post {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    padding-bottom: 7px;
}

.pic {
    min-height: 50px;
    width: 50px;
    display: inline-block;
}

img {
    height: 50px;
    width: 50px;
}

.post_text {
    vertical-align: bottom;
}

.userlink {
    font-size: 14;
    color: blue;
    display: inline-block;
    vertical-align: top;
}

.post_buttons {
    margin-top: 5px;
    padding-right: 10px;
} */