<!-- <div class="container" cdkScrollable> -->
    <div class="container" cdkDropList [cdkDropListOrientation]="isLandscape ? 'horizontal' : 'vertical'" class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListData]="val" style="margin:10px">
        <div class="example-box noselect" *ngFor="let item of val;let i = index" cdkDrag>
            <div style="width:100%;">
                <mat-icon (click)="deleteAt(i)" aria-hidden="false" aria-label="Example close icon">close</mat-icon>
            </div>
            <img  [src]="getImg(item)" [alt]="getText(item)">
            <div>{{getText(item)}}</div>

            <!-- <img *cdkDragPreview [src]="movie.poster" [alt]="movie.title"> -->
        </div>
    </div>
<!-- </div> -->

