<form [formGroup]="form" novalidate >
  <div fxLayout="row">
    <span fxFlex="10" class="spacer"></span>

    <span fxFlex="40" class="details-pane" novalidate fxLayout="column">
      <!-- Title -->
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>

      <!-- Single Book ? -->
      <!-- <mat-form-field> -->
        <!-- <mat-checkbox class="" formControlName="singleBook">Disabled</mat-checkbox> -->
        <mat-checkbox formControlName="singleBook">Display as Single Book</mat-checkbox>
      <!-- </mat-form-field> -->

      <!-- Thumb -->
      <mat-form-field appearance="fill">
        <mat-label>Thumb Nail</mat-label>
        <mat-select formControlName="coverUrl">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let pic of availablePics" [value]="pic">{{ pic }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Short Description -->
      <mat-form-field>
        <input matInput placeholder="Blurb" formControlName="shortDesc">
      </mat-form-field>

      <!-- Long Description -->
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="longDesc">
      </mat-form-field>

      <!-- Maturity Rating -->
      <mat-form-field appearance="fill">
        <mat-label>Maturity Rating</mat-label>
        <mat-select formControlName="maturityRating">
          <mat-option [value]="maturityRating.M">M - Mature Content</mat-option>
          <mat-option [value]="maturityRating['T+']">T+ - Content For Older Teenagers</mat-option>
          <mat-option [value]="maturityRating.T">T - Content For those 12 and Up</mat-option>
          <mat-option [value]="maturityRating.E">E - Content for Everyone</mat-option>
          <!-- <mat-option [value]="maturityRating.X">X - Explicit Content</mat-option> -->
        </mat-select>
      </mat-form-field>

      <!-- View Access Select -->
      <!-- <mat-form-field appearance="fill">
        <mat-label>View Access</mat-label>
        <mat-select formControlName="viewAccess">
          <mat-option [value]="viewAccess.private">Private - Only you can see this book</mat-option>
          <mat-option [value]="viewAccess.linkAccess">Link - Only those with a link can find this book</mat-option>
          <mat-option [value]="viewAccess.public">Public - Anyone can find this book</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- View Access Radio -->
      <div class="misc-bottom-padding">
        <mat-label>View Access</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="viewAccess">
          <mat-radio-button [value]="viewAccess.private">Private - Only you can see this book</mat-radio-button>
          <mat-radio-button [value]="viewAccess.linkAccess">Link - Only those with a link can find this book</mat-radio-button>
          <mat-radio-button [value]="viewAccess.public">Public - Anyone can find this book</mat-radio-button>
        </mat-radio-group>
      </div>

    </span>

    <span fxFlex="40" class="pages-pane" fxLayout="column">
      <img [src]="form.controls.coverUrl.value || ''" style="max-width: 300px;max-height: fit-content;">
      <app-upload (urls)="onUrls($event)"></app-upload>


    </span>

    <span fxFlex class="spacer"></span>

  </div>

  <div fxLayout="row">
    <mat-selection-list #availablePicsList>
      <mat-list-option style="height:auto" *ngFor="let pic of availablePics;let i = index" [value]="pic" (mouseover)="mouseHover(i, $event)" (mouseleave)="mouseLeave(i, $event)">
        <img *ngIf="hoveringOn[i]" style="max-width:75px;height:auto;position: fixed;z-index: 1000;" [style.top]="hoveringOn[i].y" [style.left]="hoveringOn[i].x" [src]="pic">
         {{pic}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div fxLayout="row">
    <button mat-raised-button (click)="addSelected(availablePicsList.selectedOptions.selected)">Add Selected</button>
  </div>

  <div fxLayout="row">
      <app-orderer formControlName="pages"></app-orderer>
  </div>

  </form>

<button mat-raised-button (click)="submitForm()">Submit</button>
