<form [formGroup]="form" novalidate >
  <div fxLayout="row">
    <span fxFlex="10" class="spacer"></span>

    <span fxFlex="40" class="details-pane" novalidate fxLayout="column">
      <!-- Title -->
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>

      <!-- Single Book ? -->
      <!-- <mat-form-field> -->
        <!-- <mat-checkbox class="" formControlName="singleBook">Disabled</mat-checkbox> -->
        <mat-checkbox formControlName="singleBook">Display as Single Book</mat-checkbox>
      <!-- </mat-form-field> -->

      <!-- Thumb -->
      <mat-form-field appearance="fill">
        <mat-label>Thumb Nail</mat-label>
        <mat-select formControlName="coverUrl">
          <mat-option *ngFor="let pic of pics" [value]="pic.substring(pic.lastIndexOf('/')+1)"></mat-option>
        </mat-select>
        <!-- TODO: add upload option here -->
        <!-- TODO display the image of the thumbnail -->
      </mat-form-field>

      <!-- Short Description -->
      <mat-form-field>
        <input matInput placeholder="Blurb" formControlName="shortDesc">
      </mat-form-field>

      <!-- Long Description -->
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="longDesc">
      </mat-form-field>

      <!-- Public -->
      <!-- <div class="misc-bottom-padding">
        <mat-label>Gender:</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div> -->


      <!-- Class -->
      <!-- <mat-form-field>
        <mat-label>Grade</mat-label>
        <mat-select [(value)]="selected" formControlName="grade">
          <mat-option [value]="gradeArray" *ngFor="let gradeArray of GradeArray">{{gradeArray}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </span>

    <span fxFlex="40" class="pages-pane" fxLayout="column">

      <app-upload (urls)="onUrls($event)"></app-upload>


    </span>

    <span fxFlex class="spacer"></span>



    <!-- Submit -->
    <!-- <div>
      <input type="submit" color="primary">
    </div> -->

  </div>

  <div fxLayout="row">
      <app-orderer formControlName="pages"></app-orderer>
  </div>

  </form>

<button mat-raised-button (click)="submitForm()">Submit</button>
